/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  display: block;
  padding: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 55px;
  
}

nav {
  width: 60%;
  float: right;
}



nav li {
  float: left;
  padding-left: 40px;
}

main {
  height: 300px;
  padding-left: 50px;
  padding-top: 10px;
}

main section {
  width: 50%;
}

main input {
  display: block;
  float: left;
  height: 25px;
  margin-bottom: 15px;
  width: 80%
}

main div {
  float: left;
  height: 25px;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 5px;
  width: 20%;
}

main ul {
  padding-left: 0;
}

main li {
  float: left;
  padding-right: 50px;
}

.about {
  height: 400px;
  padding-top: 10px;
}

.about-text {
  width: 50%;
  position: relative;
  left: 30%;
}

.order-now {
  /* height: 700px; */
  padding-top: 10px;
}

.order-now-text {
  text-align: center;
}

.order-now ul {
  margin-bottom: 40px;
  padding: 0 25%;
  width: 100%;
}

.order-now li {
  display: block;
  float: left;
  padding: 0 40px;
}

.image-carousel {
  clear: both;
  display: block;
  margin: 0 10%;
}

.carousel-row-1,
.carousel-row-2 {
  width: 100%;
}

.image-carousel img {
  width: 22%;
  margin: 13px;   
}

.contact {
  text-align: center;
  /* height: 650px; */
  padding-top: 10px;
}

.contact-text {
  pading: 10px 0;
}

i.fa-solid.fa-phone,
.contact-info span {
  display: block;
  padding: 10px 0;
  width: 100%;
}

.operation-hours {
  float: left;
  width: 50%;
}

.operation-hours span {
  padding: 10px 0;
  display: block;
}

.contact img {
  padding: 20px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
